<div class="row">
  <div class="col-sm-3">
    <img ng-src="{{ $ctrl.user.avatar }}" alt="{{ $ctrl.user.first_name }} {{ $ctrl.user.last_name }} avatar" />
  </div>
  <div class="col-sm-7">
    <h3>{{ $ctrl.user.first_name }} {{ $ctrl.user.last_name }}</h3>
    <p>{{ $ctrl.user.position }}</p>
    <p>
      {{ $ctrl.user.phone }}
      <br>
      {{ $ctrl.user.email }}
    </p>

    <p>
      {{ $ctrl.user.address.street }}
      <br>
      {{ $ctrl.user.address.city }} {{ $ctrl.user.address.country }}
    </p>
  </div>
  <div class="col-sm-2">
    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
  </div>
</div>