$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body { background: #F5F5F5; font: 18px/1.5 sans-serif; }

// Component styles are injected through gulp
/* inject:scss */
@import 'main/main';
@import 'users/users';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */

h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
h1 { font-size: 28px; line-height: 2.1; }

#welcome {
  svg {
    margin-top: 6px;
  }
}

code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }